.td-3 {
    text-align: center;
    padding: 5px;
}
.table-3, .td-3, .th-3 {
    border: 1px solid;
}

.td-2, .th-2 {
    text-align: center;
}
.table-2, .td-2, .th-2 {
    border: 1px solid;
}

.cf {
    font-family: cursive;
}

.mustBeGreen {
    color: #009933;
}

.sf {
    font-family: sans-serif;
    font-weight: bold;
}

.blueCursiveStrong {
    font-family: cursive;
    color: #000099;
    font-weight: bold;
}

.bruh {
    font-size: 70px;
}